* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "block-1 block-1 block-1 block-1 block-1 block-1"
        "block-2 block-2 block-2 block-2 block-2 block-2"
        "block-3 block-3 block-3 block-3 block-3 block-3"
        "block-4 block-4 block-4 block-4 block-4 block-4"
        "block-5 block-5 block-5 block-5 block-5 block-5"
    ;
    justify-content: center;
    column-gap: .5rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    font-size: 16px;
    font-family: 'Noto Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-color: #1a1a1a;
    border: 1px solid #192F2A;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

div {
    display: block;
}

.container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.row {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 1px;
    margin: 0 auto;
    padding: 0;
    flex: 1 0 0;
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

/* - - - - - - - - - grid - - - - - - - - - */

.banner-sponsors {
    grid-area: block-1;
    background-color: #031E15;
}

.banner-sponsors {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    z-index: 1;
}

.banner-sponsors img {
    height: 1rem;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

/* - - - - - - - - - grid - - - - - - - - - */

header {
    grid-area: block-2;
    background-color: #79F3CB;
}

header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: baseline;
    background-color: #192F2A;
    color: white;
    z-index: 1;
}

header h2 {
    margin: 0 2rem;
    display: inline-block;
    font-weight: 300;
}

header img {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    margin: 0;
}

header nav {
    width: 75%;
}

header ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    list-style: none;
}

header ul li {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0.5rem;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: bold;
}

/* - - - - - - - - - grid - - - - - - - - - */
main {
    grid-area: block-3;
    background-color: #53F0BC;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "block-3-1 block-3-1 block-3-1 block-3-1 block-3-1 block-3-1"
        "block-3-2 block-3-2 block-3-2 block-3-2 block-3-2 block-3-2"
        "block-3-3 block-3-3 block-3-3 block-3-3 block-3-3 block-3-3"
        "block-3-4 block-3-4 block-3-4 block-3-4 block-3-4 block-3-4"
        "block-3-5 block-3-5 block-3-5 block-3-5 block-3-5 block-3-5"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

/* - - - - - - - - - grid - - - - - - - - - */

/* - - - - - - - - - grid - - - - - - - - - */

.home {
    grid-area: block-3-1;
    background-color: #53F0BC;
}


.home {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3rem 6rem 1.5rem;
    background-color: #003D2C;
    z-index: 1;
}

.home img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

.home h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.home p {
    font-size: 1rem;
    font-weight: light;
    color: white;
    text-align: left;
}

/* - - - - - - - - - grid - - - - - - - - - */
.partidos {
    grid-area: block-3-2;
    background-color: #2EEDAE;
}

.partidos {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3rem 6rem 1.5rem;
    background-color: #00573F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: right;
    z-index: 1;
}

.partidos img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    border: 5px solid white;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.partidos h2 {
    font-size: 1.75rem;
    text-align: right;
    color: white;
}

.partidos p {
    font-size: 1rem;
    color: white;
    text-align: right;
}

/* - - - - - - - - - grid - - - - - - - - - */

.plantel {
    grid-area: block-3-3;
    background-color: #13DF9B;
}


.plantel {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3rem 6rem 1.5rem;
    background-color: #003D2C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: right;
    z-index: 1;
}

.plantel .tarjeta {
    width: 13%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
    border-radius: 1rem;
    background-color: #10B981;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.plantel .tarjeta p {
    text-align: left;
    color: white;
    font-size: 1.25rem;
}

.tarjeta img {
    width: 100%;
    height: auto;
    margin: auto;
}


/* - - - - - - - - - grid - - - - - - - - - */

.about {
    grid-area: block-3-4;
    background-color: #10B981;
}

.about {
    width: 100%;
}

/* - - - - - - - - - grid - - - - - - - - - */

.contacto {
    grid-area: block-3-5;
    background-color: #0C855D;
}

.contacto {
    width: 100%;
}

/* - - - - - - - - - grid - - - - - - - - - */

footer {
    grid-area: block-4;
    background-color: #075239;
}

footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: baseline;
    background-color: #192F2A;
    color: white;
    z-index: 1;
}

footer nav {
    width: 50%;
    margin: 0 auto;
}

footer ul {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    list-style: none;
}

footer ul li {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #00573F;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

footer ul li a {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0.5rem;
    color: #003D2C;
    font-size: 1rem;
    font-weight: bold;
}

/* - - - - - - - - - grid - - - - - - - - - */


/* - - - - - - - - - - - - - Start - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - media queries - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - here - - - - - - - - - - - - - - */


@media (max-width: 600px) {

    /* - - - - - banner sponsors - - - - - */
    body {
        padding: 0;
        font-size: 12px;
    }

    /* - - - - - body - - - - - */
    /* - - - - - banner sponsors - - - - - */
    .banner-sponsors {
        height: auto;
        overflow-x: hidden;
    }

    .banner-sponsors img {
        height: 2rem;
        margin: 0.5rem auto;
        display: block;
    }

    /* - - - - - banner sponsors - - - - - */
    /* - - - - - header - - - - - */
    header {
        display: flex;
        flex-wrap: wrap;
    }

    header h2 {
        margin: 1rem 2rem;
        display: inline-block;
        font-weight: 300;
        font-size: 1.5rem;
    }

    header img {
        display: none;
    }

    header nav {
        width: 100%;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-shrink: 1;
    }

    header ul li {
        width: 100%;
        height: auto;
        margin: 1.2rem 1.2rem;
        padding: 0.75rem 1rem;
        flex: 1;
        font-size: 1.5rem;
        text-align: center;
    }

    /* - - - - - header - - - - - */
    /* - - - - - home - - - - - */


    .home {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 3rem 6rem 1.5rem;
        background-color: #003D2C;
        z-index: 1;
    }

    .home .row {
        display: block;
        flex-direction: column;

    }

    .home .col {
        display: inline-block;
        width: 100%;
    }

    .home img {
        display: block;
        width: 50%;
        height: auto;
        margin: auto;
    }

    .home h1 {
        text-align: center;
    }

    .home p {
        text-align: center;
    }

    /* - - - - - home - - - - - */
    /* - - - - - partidos - - - - - */

    .partidos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .partidos .row {
        display: block;
        flex-direction: column;

    }

    .partidos .col {
        display: inline-block;
        width: 100%;
    }

    .partidos img {
        display: block;
        width: 100%;
        height: auto;
        margin: 2rem auto;
    }

    .partidos h2 {
        text-align: center;
    }

    .partidos p {
        text-align: center;
    }

    /* - - - - - partidos - - - - - */
    /* - - - - - plantel - - - - - */

    .plantel {
        margin: 0 auto;
        padding: 0 1rem;
    }

    .plantel .tarjeta {
        width: 100%;
        margin: 0.5rem;
        padding: 0.5rem;
        display: block;
        border-radius: 1rem;
        background-color: #10B981;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .plantel .tarjeta p {
        text-align: left;
        color: white;
        font-size: 1.5rem;
    }

    .tarjeta img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    /* - - - - - plantel - - - - - */
    /* - - - - - footer - - - - - */

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer nav {
        width: 100%;
    }

    footer ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-shrink: 1;
    }

    footer ul li {
        width: 100%;
        height: auto;
        margin: 1.2rem 1.2rem;
        padding: 0.75rem 1rem;
        flex: 1;
        font-size: 1.5rem;
        text-align: center;
    }

}